body {
    color: black;
    font-family: Times new roman; 
    font-size: 1rem;
    background: #f9f2f6 url('../Images/Watches/gant.jpg') no-repeat center fixed;
    -ms-background-size: cover;
    background-size: cover;
}

#wrapper {
    width: 101.23%;
    margin: -8px;
}

#banner {
    margin-top: 8px;
    padding: 10px 195px;
    background: black;
    color: white;
    font-size: 4rem;
    -ms-opacity: 0.7;
    opacity: 0.7;
}

#navigation {
    height: 45px;
    background: linear-gradient(to bottom, white, lightgray, gray);
}

#nav, #navRight {
    display: block;
    list-style: none;
    text-align: center;
    width: 81%;
    margin: auto 160px;
    padding: 0 40px;
}

    #nav ul, #navRight ul {
        display: none;
        list-style: none;
    }

    #nav li {
        font-size: 1rem;
        float: left;
        display: inline;
        margin-top: 15px;
        text-transform: uppercase;
        padding: 0 20px;
        border-left: 1px solid white;
    }

    #navRight li {
        font-size: 1rem;
        float: right;
        display: inline;
        margin-top: 15px;
        text-transform: uppercase;
        padding: 0 20px;
        border-left: 1px solid white;
    }



    #nav a:link, #nav a:visited, #nav a:active,
    #navRight a:link, a:visited, a:active {
        display: inline;
        color: #44413e;
        text-decoration: none;
    }

    #nav a:hover, #navRight a:hover {
        text-decoration: underline;
        color: black;
    }


#content {
    width: 990px;
    margin: auto;
    padding: 30px;
    min-height: 660px;
    background-color: white;
    -ms-opacity: 0.5;
    opacity: 0.9;
}

footer {
    background: black;
    color: white;
    width: 100%;
    font-size: 0.85rem;
    padding: 20px 200px;
    line-height: 50%;
    bottom: 0;
    position: absolute;
    -ms-opacity: 0.7;
    opacity: 0.7;
}

footer a:hover {
    color: hotpink;
}

p a {
    color: lightgray;
}

#navRight #buttonLogOut {
    -ms-opacity: 0;
    opacity: 0;
    color: blue;
}